<h1>Enter the Patient Data</h1>

    <form method="post" action="/add_patients">
        <input type="text" name="patientname" placeholder="Patient Name" required/><br><br>
        <input type="text" name="patientsurname" placeholder="Patient Surname" required/><br><br>
        <input type="text" name="disease" placeholder="Disease" required/><br><br>
        <input type="text" name="undercareof" placeholder="Under Care Of" required/><br><br>
        <input type="number" name="emergencyContact" placeholder="Emergency Contact" required/><br><br>
        <input type="datetime-local" name="dateofadmit" placeholder="Date of Admit" required/><br><br>
        <input type="text" name="address" placeholder="Address" required/><br><br>
        <input type="number" name="roomno" placeholder="Room No." required/><br><br>
        <input type="number" name="bedno" placeholder="Bed No." required/><br><br>
        <input type="number" name="daysinhospital" placeholder="Days in Hospital" required/><br><br>
        <input type="number" name="attendeeid" placeholder="Attendeeid" required/><br><br>
        <input type="submit" />
    </form>
