<h1>{{title}} the Employee Data</h1>

<form method="post" action="/addemp">
    <input type="text" name="empname" placeholder="Employee Name" required/><br><br>
    <input type="text" name="empsurname" placeholder="Employee Surname"/><br><br>
    <input type="number" name="contactno" placeholder="Contact No."required/><br><br>
    <input type="text" name="speciality" placeholder="Speciality" required/><br><br>
    <input type="number" name="salary" placeholder="Salary"/><br><br>
    <input type="datetime-local" name="dateofjoining" placeholder="Date of Joining"/><br><br>
    <input type="text" name="shift" placeholder="Shift" required/><br><br>
    <input type="email" name="email" placeholder="Email" required/><br><br>
    <input type="submit" />
</form>