<h1>Enter the Employee Data for Updation</h1>

<form method="post" action="/update_emp">
    <input name="empname" placeholder="Employee Name" required/><br><br>
    <input name="empsurname" placeholder="Employee Surname"/><br><br>
    <input name="contactno" placeholder="Contact No."required/><br><br>
    <input name="speciality" placeholder="Speciality" required/><br><br>
    <input name="salary" placeholder="Salary"/><br><br>
    <input name="dateofjoining" placeholder="Date of Joining"/><br><br>
    <input name="shift" placeholder="Shift" required/><br><br>
    <input name="email" placeholder="Email" required/><br><br>
    <input type="submit" />
</form>