

<form method="post" action="/update_patient/{{id}}">
    <input name="patientname" value="{{patientname}}" required/><br><br>
    <input name="patientsurname" value="{{patientsurname}}" required/><br><br>
    <input name="disease" value="{{disease}}" required/><br><br>
    <input name="undercareof" value="{{undercareof}}" required/><br><br>
    <input name="emergencyContact" value="{{emergencyContact}}" required/><br><br>
    <input name="dateofadmit" value="{{dateofadmit}}" required/><br><br>
    <input name="address" value="{{address}}" required/><br><br>
    <input name="roomno" value="{{roomno}}" required/><br><br>
    <input name="bedno" value="{{bedno}}" required/><br><br>
    <input name="daysinhospital" value="{{daysinhospital}}" required/><br><br>
    <input name="attendeeid" value="{{attendeeid}}" required/><br><br>
    <input type="submit" />
</form>